#menuLW {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background: #FFF3F7;
    z-index: 2;
}

*{
    margin: 0;
    padding: 0;
}

#menuLW ul {
    padding: 0;
    margin: 0;
    z-index: 2;
  }

#menuLW li{
    display: inline;
    list-style:none;
    margin: 5px 10px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    z-index: 2;
}

#menuLW li a {
    padding: 5px 10px;
    color: #732379;
    text-decoration: none;
    z-index: 2;
}

#menuLW li a:hover{
    background: #732379;
    color: #FFF3F7;
    z-index: 2;
}

.menu_logoLW {
   display: block;
   z-index: 2;
}

#menu.defaultLW {
   z-index: 2; 
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#mainLW {
    display: flex;
    padding: 80px 0 0 0;
}

#main_imgLW {
    width: 44%;
}

.slider {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
}

.slider__items {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  overflow: hidden;
}

.slider__item {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* отключаем по умолчанию отображение всех слайдов */
  display: none;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  /* длительность анимации трансформации */
  transition: transform 0.6s ease;
  /* не показывать обратную сторону трансформируемого элемента */
  backface-visibility: hidden;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
  /* отображаем слайд, если он имеет один из этих классов */
  display: block;
}

.slider__item_next,
.slider__item_prev {
  /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
  position: absolute;
  /* устанавливаем положение элемента, т.е. координату top */
  top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
  /* сдвигаем элемент на 0 по горизонтали */
  transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
  /* сдвигаем элемент на 100% по горизонтали */
  transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
  /* сдвигаем элемент на -100% по горизонтали */
  transform: translateX(-100%);
}

/* элементы управления (назад и вперёд) слайдером */

.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #732379;
  text-align: center;
  opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 23px;
  background: #fff transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("img/2.png");
}

.slider__control_next::before {
  background-image: url("img/1.png");
}

/* индикаторы слайдера */

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.slider__indicator {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(115, 35, 121, 0.5);
  border-radius: 6px;
}

.slider__indicator::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator_active {
  background-color: #732379;
}

.main_img1LW {
    width: 460px;
    height: 460px;
    display: block;
    margin: 50px;
}

#main_textLW {
    width: 50%;
}

h1 {
    font-size: 36px;
    font-family: 'Playfair Display', serif; 
    color: #732379;
    margin: 50px 0 50px 0;
}

.main_text2LW {
    text-align: left;
    font-size: 26px;
    font-family: 'EB Garamond', serif;
    color: #732379;
    padding: 0 20px 0 0;
}

#lineLW {
    margin: 30px 0px 30px -20px;
    padding: 0px 0px 0px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: #91C78B;
    height: 60px;
    display: block;
}

.textLW {
   font-family: 'Playfair Display', serif;  
   font-weight: 400;
   color: #732379;
   font-style: italic;
   font-size: 24px;
   padding: 12px 0 0 0;
}

#contactsLW {
    background: #FFF3F7;
    margin: 20px 0 0 0;
    padding: 20px;

}

#contacts_allLW {
    display: flex;
    justify-content: center;
}

#adressLW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}


h6 {
    font-size: 22px;
    font-family: 'EB Garamond', serif; 
    color: #732379;
    text-align: center; 
}

#contacts_menuLW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 110px;
    padding: 25px;
}

#linksLW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 110px;
    padding: 25px;
}

.contacts_menu1LW {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: #732379;
    text-align: center;
    padding: 5px;
}

#contacts_logoLW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 110px 0 0;

}

a {
    text-decoration: none;
    color: #732379;
}